@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i');
h1{
  text-align: center;
  position: relative;
  top: 200px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 100;
  color: #ccc;
}
.cover-img{
  position: relative;
  top: -140px;
  z-index: -10;
  width: 100%;
  height: 600px;
  background-image: url('./images/band.jpg');
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  h1{
    text-align: center;
    position: relative;
    top: 240px;
    color: #333;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 100;
    font-size: 250%;
  }
}

.content{
  background-color: #333;
  height: 1000px;
  position: relative;
  top: -180px;
}
