@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Lato");
* {
  margin-top: 0px; }

body {
  font-family: 'Open Sans'; }

p {
  line-height: 160%;
  font-weight: 400; }

h1 {
  text-align: left;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
  font-size: 225%;
  color: #111; }

h3 {
  font-weight: 400; }

.cover-img {
  z-index: -10;
  width: 100%;
  height: 650px;
  background-image: url("./images/band.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .cover-img h1 {
    position: relative;
    top: 180px;
    text-align: center;
    color: #333;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 100;
    font-size: 250%; }

hr {
  border-top: 1px solid #ddd; }

.scrollContainer {
  scroll-behavior: smooth;
  overflow: auto;
  height: 100vh;
  display: flex;
  flex-direction: column; }

.section {
  padding: 80px 0;
  display: flex;
  justify-content: center; }

.sectionContent {
  width: 1000px;
  max-width: 100%;
  padding: 0 20px; }

.darkBg {
  background-color: #666; }

.musicVideo {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #fff; }
  .musicVideo p {
    padding-bottom: 20px; }

.videoPlayer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 365px;
  flex-direction: column; }

.content {
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  background-color: #fff; }

.content-block {
  padding: 30px 5px;
  width: 1200px; }
  .content-block h1 {
    color: #FAA21B; }
  .content-block p {
    color: #111; }

.horizontal-content-container {
  flex-direction: column;
  padding: 20px 0;
  color: #111; }

.horizontal-content {
  display: flex; }
  .horizontal-content p {
    padding-right: 50px; }
  @media screen and (max-width: 1200px) {
    .horizontal-content {
      flex-wrap: wrap;
      max-width: 95%;
      margin: auto; }
      .horizontal-content p {
        padding-right: 0px; } }

@media screen and (min-width: 1200px) {
  .filler {
    padding: 20px; } }

@media screen and (max-width: 1200px) {
  .side-image {
    max-width: 100% !important; }
  h3 {
    text-align: center;
    padding-top: 30px; } }

.footer {
  height: 360px;
  background-color: #333333;
  display: flex;
  justify-content: center;
  align-items: center; }
  .footer p {
    color: #efefef;
    font-weight: 300; }
