@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@media only screen and (min-width: 800px) {
  .mobile{
    display: none !important;
  }
}
@media only screen and (max-width: 799px) {
  .desktop{
    display: none !important;
  }
}
.mobile{
  width: 100%;
}

.slideshowContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  align-items: center;
  position: relative;
  top: -80px;
  width: 1600px;
  max-width: 100%;
}

.slideshowContainer > img{
  width: 80px;
  padding: 15px;
  opacity: 0.75;
}
.slideContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
  width: 1300px;
  max-width: 100%; }

.slide img {
  width: 100%;
  height: 100%; }

.hidden {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 0%;
  width: 20%;
  z-index: 1;
  transition: width 0.5s, height 0.5s, left 0.5s, visibility 0.5s, opacity 0.5s; }

.slideshowDescription{
  height: 200px;
}
@media only screen and (max-width: 480px){
  .slideshowDescription{
    height: 150px;
  }
}

.image3 {
  position: absolute;
  left: 70%;
  width: 20%;
  z-index: 1; }

.image0 {
  width: 35%;
  visibility: visible;
  opacity: 1;
  position: absolute;
  left: 0;
  z-index: 2;
  transition: width 0.5s, height 0.5s, left 0.5s, visibility 0.5s, opacity 0.5s; }

.image1 {
  width: 45%;
  visibility: visible;
  opacity: 1;
  position: absolute;
  left: 27.5%;
  z-index: 3;
  transition: width 0.5s, height 0.5s, left 0.5s, visibility 0.5s, opacity 0.5s; }

.image2 {
  width: 35%;
  visibility: visible;
  opacity: 1;
  position: absolute;
  left: 65%;
  z-index: 2;
  transition: width 0.5s, height 0.5s, left 0.5s, visibility 0.5s, opacity 0.5s; }

.circle1{
  stroke: #ee1b2c;
  stroke-width: 1;
  stroke: #333; }

.circle1 + svg circle{
  fill: #ee1b2c;
  stroke-width: 0; }


.slick-slide img{
  width: 100vw;
}

@media only screen and (max-width: 700px){
  .slideshowHeader{
      position: relative;
      top: 10px;
      font-size: 140%;
  }
}
