@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700');
*{
  margin-top: 0px;
}
body{
  overflow: hidden;
  font-family: 'Montserrat', Helvetica, sans-serif;
}
p{
  line-height: 170%;
  font-size: 120%;
  font-weight: 300;
}
h1{
  font-size: 225%;
  color: #111;
  font-weight: 500;
}
h1, h3{
  text-align: center;
  font-weight: 500;
}
a{
  color: #4b88a3;
  text-decoration: none;
}
@media only screen and (max-width: 799px){
  p{
    text-align: center;
  }
}
.cover-img{
  z-index: -10;
  width: 100%;
  height: 800px;
  background-image: url('./images/band_black.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  h1{
    position: relative;
    top: 180px;
    text-align: center;
    color: #333;
    font-weight: 300;
    font-size: 200%;
  }
  @media only screen and (max-width: 799px){
    height: auto;
    padding-bottom: 0;
    background-image: none;
  }
}
hr{
  border-top: 1px solid #ddd;
}
.scrollContainer{
  scroll-behavior: smooth;
  overflow: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.section{
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.sectionContent{
  width: 1000px;
  max-width: 100%;
  padding: 80px 20px;
}

.fillHeight{
  height: 100%;
}

.row{
  display: flex;
  flex-direction: row !important;
}
.column{
  display: flex;
  flex-direction: column !important;
}

.youtubeBackground{
  background-color: #666;
  background-image: url("./images/members.png");
  background-size: cover 100%;
  background-repeat: no-repeat;
  z-index: -1;
  @media only screen and (max-width: 480px)   {
      background-size: cover;
      background-position: center 0px !important;
  }
  @media only screen and (min-width: 1920px)   {
      background-size: 100%;
  }
}

.musicVideo{
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #fff;
  height: 700px;
  padding-bottom: 0px !important;
  h1{
    color: #efefef;
  }
}
.playButton{
  margin-top: 130px;
}
.youTubeContainer{
  width: 800px;
  max-width: 100vw;
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
  margin-top: 70px;
  z-index: 5;
  height: 0;
}
.youTubeContainer > div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
//The youTube player itself
.youTubeContainer iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  max-height: 450px;
}
@media only screen and (max-width: 499px){
  .musicVideo{
    height: 500px;
  }
  .playButton{
    margin-top: 30px;
  }
}

//Dark background on the videoplayer section
.shadedDark{
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.65) !important;
}
.shadedDarker{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.9) !important;
  -webkit-transition: background-color 1.5s linear; /* Safari */
  transition: background-color 1.5s linear;
}



.content{
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  background-color: #fff;
}
.content-block{
  padding: 30px 5px;
  width: 1200px;
  h1{
    color: #FAA21B;
  }
  p{
    color: #111;
  }
}
.horizontal-content-container{
  flex-direction: column;
  padding: 20px 0;
  color: #111;
}
.horizontal-content{
  display: flex;
  p{
    padding-right: 50px;
  }
  @media screen and (max-width: 1200px){
    flex-wrap: wrap;
    max-width: 95%;
    margin: auto;
    p{
      padding-right: 0px;
    }
  }
}
@media screen and (min-width: 1200px){
  .filler{
    padding: 20px;
  }
}
@media screen and (max-width: 1200px){
  .side-image{
    max-width: 100% !important;
  }
  h3{
    text-align: center;
    padding-top: 30px;
  }
}

.footer{
  background-color: #333333;
  p{
    color: #efefef;
  }
}
.footer > div{
  width: 1200px !important;
  padding: 60px 0 !important;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
@media only screen and (max-width: 799px){
  .footer > div{
    align-items: center;
    flex-direction: column;
  }
}
.footer > div > div{
  padding-left: 10px;
  padding-right: 10px;
  max-width: 100%;
}
.footerLinks{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  font-size: 120%;
  margin-bottom: 20px;
  p{
    color: #bbb;
    margin-bottom: 0px !important;
  }
  a{
    font-size: 120%;
  }
  div{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
  }
}
.footerMap{
  height: 300px;
  width: 400px;
  max-height: 100%;
  max-width: 100%;
}
.footerIcon{
  height: 30px;
  width: 30px;
  padding-right: 10px;
}
