@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700');

*{
  margin-top: 0px;
}
body{
  font-family: 'Montserrat', Helvetica, sans-serif;
}
p{
  line-height: 170%;
  font-size: 120%;
  font-weight: 300;
}
h1{
  font-size: 225%;
  color: #111;
  font-weight: 500;
}
h1, h3{
  text-align: center;
  font-weight: 500;
}
.cover-img{
  z-index: -10;
  width: 100%;
  height: 650px;
  background-image: url('./images/band.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  h1{
    position: relative;
    top: 180px;
    text-align: center;
    color: #333;
    font-weight: 300;
    font-size: 200%;
  }
}
hr{
  border-top: 1px solid #ddd;
}
.scrollContainer{
  scroll-behavior: smooth;
  overflow: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.section{
  display: flex;
  justify-content: center;
}
.sectionContent{
  width: 1000px;
  max-width: 100%;
  padding: 80px 20px;
}

.youtubeBackground{
  background-color: #666;
  background-image: url("./images/members.png");
  background-size: cover 100%;
  background-repeat: no-repeat;
  z-index: -1;
  @media only screen and (max-width: 480px)   {
      background-size: cover;
      background-position: center 0px !important;
  }
  @media only screen and (min-width: 1920px)   {
      background-size: 100%;
  }
}
.shadedDark{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.65) !important;
}
.shadedDarker{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.9) !important;
  -webkit-transition: background-color 1.5s linear; /* Safari */
  transition: background-color 1.5s linear;
}

.musicVideo{
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #fff;
  p{
    padding-bottom: 20px;
  }
  h1{
    color: #efefef;
  }
}
.videoPlayer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 365px;
  flex-direction: column;
}

.content{
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  background-color: #fff;
}
.content-block{
  padding: 30px 5px;
  width: 1200px;
  h1{
    color: #FAA21B;
  }
  p{
    color: #111;
  }
}
.horizontal-content-container{
  flex-direction: column;
  padding: 20px 0;
  color: #111;
}
.horizontal-content{
  display: flex;
  p{
    padding-right: 50px;
  }
  @media screen and (max-width: 1200px){
    flex-wrap: wrap;
    max-width: 95%;
    margin: auto;
    p{
      padding-right: 0px;
    }
  }
}
@media screen and (min-width: 1200px){
  .filler{
    padding: 20px;
  }
}
@media screen and (max-width: 1200px){
  .side-image{
    max-width: 100% !important;
  }
  h3{
    text-align: center;
    padding-top: 30px;
  }
}

.footer{
  height: 360px;
  background-color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
  p{
    color: #efefef;
  }
}
