//Logo + links
.navbox{
  ul{
    margin: 0px;
    li{
      a{
        color: #111;
        transition: font-size 0.3s;
      }
    }
  }
}

@media only screen and (max-width: 799px)   {
  .desktopNav{
    display: none !important;
  }
  .mobileNav{
    display: none !important;
  }
}
@media only screen and (min-width: 800px)   {
  .mobileNav{
    display: none !important;
  }
}
.desktopNav{
  padding-top: 40px;
}
.mobileNav{
  background-color: #aaa;
}


.row{
  display: flex;
  width: 1200px;
  margin: auto;
  max-width: 100%;
}
//Containers needed for alignment
.logo-container{
  padding: 10px;
  width: 20%;
  img{
    height: 35px;
    width: 140px;
  }
}
.nav-container{
  width: 80%;
}
//List of links
.nav{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    li{
      padding: 0px 10px;
      a{
        text-decoration: none;
        font-size: 120%;
        color: #333;
      }
    }
  }
}
